.outer-container {
    width: 100%;
    height: 100%;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    --inner-border-details: 1px solid #e9ecef;
    background-color: grey;
}

.inner-container {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    background-color: #fff;
    min-width: 550px;
    width: 550px;
    height: 700px;
    min-height: 80%;
    -webkit-box-shadow: 0 0 10px 1px rgb(0 0 0 / 77%);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.77);
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 77%);
    text-align: center;
}

.container-details {
    --account-detail-margin: 10px;
    margin: var(--account-detail-margin) 0 var(--account-detail-margin) 0;
    font-size: 50px;
    font-weight: 200;
}

.container-name {
    height: 15%;
    border-bottom: var(--inner-border-details);
}

.container-body {
    max-height: 70%;
    max-width: 100%;
    word-wrap: break-word
}

.container-bottom {
    border-top: var(--inner-border-details);
    width: 100%;
    margin-top: auto;
    align-self: flex-end;
}

@media only screen and (min-height: 800px) {
    .inner-container {
        min-height: 700px;
    }
}

@media only screen and (max-height: 800px) {
    .inner-container {
    }
    .container-details {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1500px) {
    .inner-container {
        min-width: 550px;
    }
}

@media only screen and (max-width: 1000px){
    .inner-container {
        min-width: 70%;
    }
    .container-details {
        font-size: 40px;
    }
}

@media only screen and (max-width: 700px) {
    .inner-container {
        width: 98%;
    }
}

@media only screen and (max-width: 800px) {
    .container-details {
        font-size: 35px;
    }
}
