.info-auth-div {
    border:1px solid black;
    text-align: center;
    position: absolute;
    padding: 10px;
    /*top: 100px;*/
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.success-info {
    background-color: green;
}

.error-info {
    background-color: red;
}

.disabled {
    display: none;
}
