.loading-spinner {
    position: absolute;
    top: calc(50% - 40px);
    right: calc(50% - 40px);
    border: 10px solid rgba(255,255,255, 1);
    border-top: 10px solid rgba(66,66,66, 1);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    z-index: 1001;
}

.disabled {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
