td {
    text-align: center;
    vertical-align: middle;
}

tr {
    text-align: center;
}

.games-table {
    margin-right: 50px;
    width: 50%;
    -webkit-box-shadow: 2px 0 5px 0 rgb(0 0 0 / 77%);
    -moz-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.77);
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 77%);
}

.game-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.individual-tipsters-container {
    -webkit-box-shadow: 2px 0 5px 0 rgb(0 0 0 / 77%);
    -moz-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.77);
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 77%);
    height: 100%;
}


@media only screen and (max-width: 1300px) {
    .game-container {
        display: block;
        width: 100%;
    }

    .games-table {
        margin-right: 0;
        width: 100%;
    }

    .individual-tipsters-container {
        margin-top: 10px;
        width: 100%;
    }

    .individual-tipsters-container table {
        width: 100%;
    }
}
@media only screen and (max-width: 415px) {
    .game-container {
        width: 342px;
    }
}

.info-div {
    border:1px solid black;
    text-align: center;
    position: absolute;
    padding: 10px;
    top: 10px;
    z-index: 1;
}

.success-info {
    background-color: green;
}

.error-info {
    background-color: red;
}

.disabled {
    display: none;
}
