.inner-container {
    min-height: 500px !important;
    height: 500px !important;
}

.container-bottom {
    height: 10%;
    font-size: 20px;
    padding-top: 5%;
}

.login-container {
    width: 100%;
    height: 100%;
}
