.main-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.navigation-bar {
    width: 250px;
    height: 100%;
    position: fixed;
    inset: 0;
    background-color: grey;
    -webkit-box-shadow: 2px 0 5px 0 rgb(0 0 0 / 77%);
    -moz-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.77);
    box-shadow: 2px 0 5px 0 rgb(0 0 0 / 77%);
}

.content-container {
    position: fixed;
    inset: 0 0 0 250px;
    padding: 10px;
    height: calc(100% - 20px);
    overflow-y: auto;
}

@media only screen
and (max-height: 900px) {
    .navigation-bar {
        width: 225px;
    }

    .content-container {
        inset: 0 0 0 225px;
    }
}

@media only screen and (max-height: 650px), (max-width: 900px) {
    .navigation-bar {
        width: 50px;
    }

    .content-container {
        inset: 0 0 0 50px;
    }
}

.overlay {
    z-index: 1000;
    pointer-events: none;
    height: 100%;
    display: flex;
    opacity: 0.5;
}
