.sign-up-form {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.input {
    margin-top: 20px;
    height: 40px;
    font-size: 20px;
}

.confirm-button {
    height: 50px;
    width: 150px;
    margin: 50px auto;
    background-color: #56baed;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    font-size: 15px;
}

@media only screen and (max-width: 500px) {
    .sign-up-form {
        padding: 30px 0;
    }
    .form {
        width: 95%;
    }
}

.registration-container {
    width: 100%;
    height: 100%;
}

.registration-container .inner-container {
    min-height: 700px !important;
    height: 500px !important;
}
