.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-details {
    padding: 0;
}

.user-details svg {
    color: white;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.user-details p {
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    height: 45px;
}

.navbar-logo {
    align-content: flex-end;
    background-color: #e9efff;
}

.navigation-links {
    height: 100%;
    overflow: auto;
}


@media only screen and (max-height: 900px) {
    .user-details svg {
        width: 150px;
        height: 150px;
    }
    .user-details p {
        font-size: 20px;
    }
}

@media only screen and (max-height: 650px), (max-width: 900px) {
    .user-details svg {
        display: none;
    }
    .user-details p {
        display: none;
    }

    .navbar-logo {
        display: none;
    }
}
