.sidebar-element {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    margin: 25px 0 25px 0;
}

.sidebar-element .text {
    padding-left: 20px;
}

.sidebar-element a {
    color: #999999 !important;
    text-decoration: none;
}

.sidebar-element .active {
    color: white !important;
}

.sidebar-element a:hover {
    color: white !important;
    text-decoration: none !important;
}

@media only screen
and (max-height: 900px) {
    .sidebar-element {
        margin: 15px 0 15px 0;

    }
}


@media only screen and (max-height: 650px), (max-width: 900px) {
    .sidebar-element {
        margin: 25px auto;
        padding: 0;
    }

    .sidebar-element svg {
        display: block;
        margin: 0 auto;
    }

    .sidebar-element .text {
        display: none;
    }
}
