.goal-input {
    width: 20px;
    text-align: center;
}

.game-column {
    width: 400px;
}

.game-column .input-goals-group {
    display: flex;
}

.input-goals-group {
    width: 400px;
    margin: auto;
    height: 40px;
}

.input-span {
    width: 30%;
    margin: 0 auto;
}

.team2-span {
    width: 35%;
}

.input-group {
    width: 100%;
    margin: auto;
}

.input-group-text {
    width: 150px;
}

.left-goal-input {
    text-align: right;
}



.winner-select {
    margin: auto;
}

@media only screen and (max-width: 670px) {
    .game-column .input-goals-group {
        display: table-cell;
    }

    .winner-select {
        width: 250px;
    }

    .input-group-text {
        width: 250px;
    }

    .input-group {
        margin-bottom: 0 !important;
        width: 250px;
    }
    .left-goal-input {
        text-align: center;
        width: 250px !important;
    }
    .right-goal-input {
        text-align: center;
        width: 250px !important;
    }
}

@media only screen and (max-width: 500px) {
    .winner-select {
        width: 150px;
    }

    .input-group-text {
        width: 150px;
    }

    .input-group {
        width: 150px;
    }
    .left-goal-input {
        width: 150px !important;
    }
    .right-goal-input {
        width: 150px !important;
    }
}
